<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="Historys" type="sqlQuery.HistoryConfSection, sqlQuery" />
    </configSections>


  <!-- 注意，如果程序安装在C盘，那么以一般权限执行本程序的话，记住密码功能会无法使用。-->
  <!-- 如果要用记住密码功能的话，可以以管理员权限执行，或将程序安装到其它盘。-->
  <Historys SaveInfo="false">
  </Historys>

</configuration>